#home {
  max-height: calc(100vh - 4.375rem);
  height: calc(100vh - 4.375rem);
  padding-top: px-to-rem(20px);
  background-image: url("~images/events_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  #head-section {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    #headers {
      display: flex;
      flex-direction: column;
      place-items: center;
      height: px-to-rem(150px);

      #site-header {
        font-size: px-to-rem(50px);
        font-weight: bold;
        color: #F7F7F7;
      }

      #site-description {
        font-weight: 300;
        font-size: px-to-rem(25px);
        color: #F7F7F7;
      }
    }
  }
}