// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#new-event {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4.375rem);
  background-color: #111118;
  width: 100vw;

  #new-event-form {
    background-color: #FFFFFF;
    border-radius: px-to-rem(8px);
    padding-top: px-to-rem(20px);
    max-height: 90vh;
    height: auto;
    width: 40vw;

    #new-event-header {
      font-size: px-to-rem(25px);
      text-align: center;
    }
    label {
      float: left;
      font-weight: 500;
    }
    .field {
      padding: 0 px-to-rem(20px) px-to-rem(10px) px-to-rem(20px);
    }

    .form-control:focus {
      border-color: #4A2545;
    }

    .event-time {
      font-size: px-to-rem(14px);

      label {
        padding-right: px-to-rem(5px);
      }
    }

    .button-group {
      padding: px-to-rem(20px);
      .btn {
        background-color: #4A2545;
        color: #FFFFFF;
        border-radius: 8px;
      }
    }

    #error_explanation {
      ul {
        font-size: px-to-rem(15px);
        color: darkred;
      }
    }
  }
}


