<div id="home">
  <div id="head-section">
    <div id="headers">
      <h1 id="site-header">Welcome to Tix Africa</h1>
      <h3 id="site-description">Your one-stop shop to having better events</h3>
    </div>
  </div>
</div>