<div id="events-list">
  <div class="container">
    <h2 id="events-list-header">All Events</h2>
    <% if @events.empty? %>
      <div id="empty-events">No events found</div>
    <% else %>
      <div class="row">
        <%= render @events %>
      </div>
    <% end %>
  </div>
</div>
