<div id="new-event">
  <%= form_for @event, html: { id: "event-form" } do |f| %>
    <h2 id="new-event-header">Add new event</h2>

    <%= render "shared/error_messages", resource: @event %>

    <%= render "events/event_form", f: f, event: @event %>

    <div class="button-group">
      <%= f.submit "Create", class: "btn" %>
    </div>
  <% end %>
</div>
